<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{176,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,220}}</string>
                <key>sourceSize</key>
                <string>{176,220}</string>
            </dict>
            <key>B.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,0},{176,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,220}}</string>
                <key>sourceSize</key>
                <string>{176,220}</string>
            </dict>
            <key>C.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,0},{176,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,220}}</string>
                <key>sourceSize</key>
                <string>{176,220}</string>
            </dict>
            <key>D.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,0},{176,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,220}}</string>
                <key>sourceSize</key>
                <string>{176,220}</string>
            </dict>
            <key>E.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,0},{176,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,220}}</string>
                <key>sourceSize</key>
                <string>{176,220}</string>
            </dict>
            <key>F.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{176,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,220}}</string>
                <key>sourceSize</key>
                <string>{176,220}</string>
            </dict>
            <key>G.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,220},{176,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,220}}</string>
                <key>sourceSize</key>
                <string>{176,220}</string>
            </dict>
            <key>H.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,220},{176,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,220}}</string>
                <key>sourceSize</key>
                <string>{176,220}</string>
            </dict>
            <key>I.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,220},{176,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,220}}</string>
                <key>sourceSize</key>
                <string>{176,220}</string>
            </dict>
            <key>J.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,220},{176,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,220}}</string>
                <key>sourceSize</key>
                <string>{176,220}</string>
            </dict>
            <key>K.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,440},{176,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,220}}</string>
                <key>sourceSize</key>
                <string>{176,220}</string>
            </dict>
            <key>L.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,440},{176,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,220}}</string>
                <key>sourceSize</key>
                <string>{176,220}</string>
            </dict>
            <key>M.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,440},{176,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,220}}</string>
                <key>sourceSize</key>
                <string>{176,220}</string>
            </dict>
            <key>N.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,440},{176,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,220}}</string>
                <key>sourceSize</key>
                <string>{176,220}</string>
            </dict>
            <key>O.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,440},{176,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,220}}</string>
                <key>sourceSize</key>
                <string>{176,220}</string>
            </dict>
            <key>P.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,660},{176,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,220}}</string>
                <key>sourceSize</key>
                <string>{176,220}</string>
            </dict>
            <key>Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,660},{176,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,220}}</string>
                <key>sourceSize</key>
                <string>{176,220}</string>
            </dict>
            <key>R.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,660},{176,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,220}}</string>
                <key>sourceSize</key>
                <string>{176,220}</string>
            </dict>
            <key>S.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,660},{176,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,220}}</string>
                <key>sourceSize</key>
                <string>{176,220}</string>
            </dict>
            <key>T.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,660},{176,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,220}}</string>
                <key>sourceSize</key>
                <string>{176,220}</string>
            </dict>
            <key>U.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,880},{176,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,220}}</string>
                <key>sourceSize</key>
                <string>{176,220}</string>
            </dict>
            <key>V.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,880},{176,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,220}}</string>
                <key>sourceSize</key>
                <string>{176,220}</string>
            </dict>
            <key>W.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,880},{176,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,220}}</string>
                <key>sourceSize</key>
                <string>{176,220}</string>
            </dict>
            <key>X.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,880},{176,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,220}}</string>
                <key>sourceSize</key>
                <string>{176,220}</string>
            </dict>
            <key>Y.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,880},{176,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,220}}</string>
                <key>sourceSize</key>
                <string>{176,220}</string>
            </dict>
            <key>Z.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1100},{176,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,220}}</string>
                <key>sourceSize</key>
                <string>{176,220}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1100},{176,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,220}}</string>
                <key>sourceSize</key>
                <string>{176,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Letters.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:212eaff115a4cb40ab778e7d5356d969$</string>
            <key>textureFileName</key>
            <string>Letters.png</string>
        </dict>
    </dict>
</plist>
