<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>solved_row.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{598,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,95}}</string>
                <key>sourceSize</key>
                <string>{598,95}</string>
            </dict>
            <key>solved_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,0},{56,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,91}}</string>
                <key>sourceSize</key>
                <string>{58,95}</string>
            </dict>
            <key>unsolved_row.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,95},{598,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{598,95}}</string>
                <key>sourceSize</key>
                <string>{598,95}</string>
            </dict>
            <key>unsolved_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,95},{57,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{57,91}}</string>
                <key>sourceSize</key>
                <string>{59,95}</string>
            </dict>
            <key>unsolved_tile_selectable.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,95},{57,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{57,93}}</string>
                <key>sourceSize</key>
                <string>{57,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheet_iphone-hd.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0489b4d079afb9863c27703c45c6b2dc$</string>
            <key>textureFileName</key>
            <string>spritesheet_iphone-hd.png</string>
        </dict>
    </dict>
</plist>
