<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>solved_row.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{302,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,48}}</string>
                <key>sourceSize</key>
                <string>{302,48}</string>
            </dict>
            <key>solved_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,0},{29,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,48}}</string>
                <key>sourceSize</key>
                <string>{29,48}</string>
            </dict>
            <key>unsolved_row.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,48},{302,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,48}}</string>
                <key>sourceSize</key>
                <string>{302,48}</string>
            </dict>
            <key>unsolved_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,48},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,48}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>unsolved_tile_selectable.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,48},{29,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,48}}</string>
                <key>sourceSize</key>
                <string>{29,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheet_iphone.png</string>
            <key>size</key>
            <string>{512,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4424831260fae52fe0075d9b29117570$</string>
            <key>textureFileName</key>
            <string>spritesheet_iphone.png</string>
        </dict>
    </dict>
</plist>
