<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>solved_row.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{674,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{674,107}}</string>
                <key>sourceSize</key>
                <string>{674,107}</string>
            </dict>
            <key>solved_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,0},{65,101}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{65,101}}</string>
                <key>sourceSize</key>
                <string>{67,107}</string>
            </dict>
            <key>unsolved_row.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,107},{674,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{674,107}}</string>
                <key>sourceSize</key>
                <string>{674,107}</string>
            </dict>
            <key>unsolved_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,107},{65,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{65,103}}</string>
                <key>sourceSize</key>
                <string>{67,107}</string>
            </dict>
            <key>unsolved_tile_selectable.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,107},{67,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,105}}</string>
                <key>sourceSize</key>
                <string>{67,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>spritesheet_ipad.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3809e6e2dda88e4a047577cb60cfb437$</string>
            <key>textureFileName</key>
            <string>spritesheet_ipad.png</string>
        </dict>
    </dict>
</plist>
